*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper{
     
     width: 100vw;
     height: 100vh;
     background-color: rgb(22, 18, 18);
}

.range-slider{
     
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10rem;
}

.value{
     
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
}

.box {

    display: flex;
    justify-content: space-evenly;
}

.view{
     
     width: 50vw;
     height: 80vh;
      position: absolute;
      left: 40%;
      top: 3%;
      background-color: orange;
}

.move{

    transform: translate(400px,-550px);
    animation: 6s linear infinite moving;
}

@keyframes moving {
     
      50% {
         
           transform: translate(500px,-600px);
      }
}

